# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules
/.pnp
.pnp.js

# testing

/coverage

# production

/build

# misc

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# Ignora todos os arquivos na pasta node_modules

node_modules/

# Ignora arquivos temporários que terminam com .tmp ou .log

\*.tmp
