<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Entrar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuário</ion-label>
            <ion-input aria-label="Email" type="text" [(ngModel)]="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input aria-label="Password" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="full" color="primary" (click)="login()">Entrar</ion-button>

        <ion-item *ngIf="loginError" color="danger">
          <ion-label >
            {{loginError}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>