*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';font-size: 22px;
}

.alinhar{
    margin: 100px 0;
    width: 100%;
    text-align: center;
}

.alinhar h1{
    font-size: 40px;
}
form{
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    width: 50%;
    
}

form input{
    display: block;
    width: 100%;
    margin: 10px 40px;
}

.grafico{
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

ul{
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    width: 51%;
    text-align: center;
}
ul li{
   font-size: 20px;
   padding: 10px;
   background-color: rgba(0, 0, 27, 0.822);
   border-radius: 10px;
   max-width: 300px;
   text-align: center;
   cursor: pointer;
   margin: 5px 10px;
   color: white;
   list-style: none;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.596); 
}
ul li:hover{
    background-color: white;
    color: black;
    transition: 1000ms;
}

.dispositivos_div{
    text-align: center;
}

.dispositivos_div h1{
    margin: 20px 0;
    font-size: 30px;
}