* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: auto !important;
  padding-bottom: 50px;
}

body {
  background: #222222;
  font-size: 16px;
  color: #e0e0e0;
  overflow-x: hidden;
}

.container {
  padding: 0 24px;
  margin-bottom: 40px;
}

strong {
  font-weight: 500;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #232323;
}

::-webkit-scrollbar-thumb {
  background: #3c4043;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52575a;
}
